<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--默认的MSSQL 连接字符串-->
    <add name="ConnStr" connectionString="server=(local);database=Demo;uid=sa;pwd=123"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
